.dt-sc-icon-box.type2.custom-style {
	h5 {
		box-shadow: inset 0 0 0 8px $h-color !important;
	}
	&:hover {
		h5 {
			color: white !important;
			background-color: $h-color !important;
			box-shadow: inset 0 0 0 8px black !important;
		}
	}
}


blockquote {
	color: $h-color !important;

	q {
		border-bottom: 3px solid  $h-color !important;
		border-top: 3px solid  $h-color !important;
	}
}

.dt-sc-icon-box:hover .icon-wrapper, 
.dt-sc-counter:hover .icon-wrapper {
	background-color: $h-color !important;
}

.whychooseus {
	.dt-sc-icon-box:hover .icon-wrapper {
		background-color: transparent !important;
	}
}