.pricing-table {
  float: none;
  clear: both;
  max-width: 1000px;
  margin: 0 auto;

  .table-header {
    font-size: 2.5em !important;
    text-transform: uppercase !important;
     @include media-query($on-palm) {
      font-size: 2.25em !important;
     }
  }
  .price {
    font-size: 1.8em !important;
     @include media-query($on-palm) {
      font-size: 1.4em !important;
     }
  }
  p {
    font-size: 1em !important;
  }
  .payment-info {
    // border-bottom: 3px solid $h-color;
  }

  .table-wrapper {
    float: none;
    clear: both;
    border: 3px solid black;
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
    background-color: $brand-color;
  }

  .r{
    border-top: 2px solid black;
  }
  

  
  .table-title, .table-description {
    @include media-query($on-palm) {
      text-align: center;
    }
  }

  .features {
    li {
      font-size: 0.9em;
      font-weight: 400;
    }
  }

  .image {
    @include media-query($on-palm) {
      height: 100px;
      width: 100px;
      margin-bottom: -10px;
      margin-top: 10px;
    }
  }

}

.neet-info {
  .r {
    border: none;
  }
}


