<div data-delay="0" class="vc_row wpb_row vc_row-fluid showsections">
   <div class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-md vc_hidden-sm vc_hidden-xs" data-delay="0">
      <div class="vc_column-inner">
         <div class="wpb_wrapper">
            <div id="1574664820352-805b2b1c-d67b" class="dt-sc-empty-space"></div>
            <div class='dt-sc-title with-right-border-decor  without-bottom-space aligncenter class2' data-delay='0'>
               <h2>Conceptualizing Counselling Easy Way</h2>
               <p></p>
            </div>
            <div class="wpb_text_column wpb_content_element">
               <div class="wpb_wrapper">
                  <p>Our team have developed a set of workshops and seminars exclusively for students aspiring for a successful career in Medicine. These thoughtfully crafted sessions will cover a wide range of topics that will address concern , answer queries and clarify doubt of both students and parents.</p>
               </div>
            </div>
            <div class="vc_row wpb_row vc_inner vc_row-fluid gallerysection vc_row-o-content-middle vc_row-flex vc_row-no-padding">
               <div class="wpb_column vc_column_container vc_col-sm-1">
                  <div class="vc_column-inner">
                     <div class="wpb_wrapper"></div>
                  </div>
               </div>
               <div class="wpb_column vc_column_container vc_col-sm-10" style=" text-align:center; ">
                  <div class="vc_column-inner vc_custom_1574068421003">
                     <div class="wpb_wrapper">
                        <div class="wpb_gallery wpb_content_element vc_clearfix">
                           <div class="wpb_wrapper">
                              <div class="wpb_gallery_slides wpb_image_grid" data-interval="3">
                                 <ul class="wpb_image_grid_ul">
                                    <li class="isotope-item">
                                       <a class="prettyphoto" href="/assets/images/unnamed-8-1024x576.jpg" data-rel="prettyPhoto[rel-94-3784076194]">
                                          <img width="270" height="170" alt="unnamed (8)" title="unnamed (8)" data-src="/assets/images/unnamed-8-1024x576.jpg" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                          <noscript><img class="" src="/assets/images/unnamed-8-270x170.jpg" width="270" height="170" alt="unnamed (8)" title="unnamed (8)" /></noscript>
                                       </a>
                                    </li>
                                    <li class="isotope-item">
                                       <a class="prettyphoto" href="/assets/images/seminar8-1024x576.jpg" data-rel="prettyPhoto[rel-94-3784076194]">
                                          <img width="270" height="170" alt="seminar8" title="seminar8" data-src="/assets/images/seminar8-1024x576.jpg" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                          <noscript><img class="" src="/assets/images/seminar8-270x170.jpg" width="270" height="170" alt="seminar8" title="seminar8" /></noscript>
                                       </a>
                                    </li>
                                    <li class="isotope-item">
                                       <a class="prettyphoto" href="/assets/images/seminar7-1024x576.jpg" data-rel="prettyPhoto[rel-94-3784076194]">
                                          <img width="270" height="170" alt="seminar7" title="seminar7" data-src="/assets/images/seminar7-1024x576.jpg" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                          <noscript><img class="" src="/assets/images/seminar7-270x170.jpg" width="270" height="170" alt="seminar7" title="seminar7" /></noscript>
                                       </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="wpb_column vc_column_container vc_col-sm-1">
                  <div class="vc_column-inner">
                     <div class="wpb_wrapper"></div>
                  </div>
               </div>
            </div>
            <div class="vc_row wpb_row vc_inner vc_row-fluid gallerysection vc_row-o-content-middle vc_row-flex vc_row-no-padding">
               <div class="wpb_column vc_column_container vc_col-sm-12" style=" text-align:center; ">
                  <div class="vc_column-inner vc_custom_1576135399621">
                     <div class="wpb_wrapper">
                        <div class="wpb_gallery wpb_content_element vc_clearfix">
                           <div class="wpb_wrapper">
                              <div class="wpb_gallery_slides wpb_image_grid" data-interval="3">
                                 <ul class="wpb_image_grid_ul">
                                    <li class="isotope-item">
                                       <a class="prettyphoto" href="/assets/images/seminar6-1024x576.jpg" data-rel="prettyPhoto[rel-94-1498965753]">
                                          <img width="320" height="170" alt="seminar6" title="seminar6" data-src="/assets/images/seminar6-1024x576.jpg" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                          <noscript><img class="" src="/assets/images/seminar6-320x170.jpg" width="320" height="170" alt="seminar6" title="seminar6" /></noscript>
                                       </a>
                                    </li>
                                    <li class="isotope-item">
                                       <a class="prettyphoto" href="/assets/images/seminar5-1024x576.jpg" data-rel="prettyPhoto[rel-94-1498965753]">
                                          <img width="320" height="170" alt="seminar5" title="seminar5" data-src="/assets/images/seminar5-1024x576.jpg" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                          <noscript><img class="" src="/assets/images/seminar5-320x170.jpg" width="320" height="170" alt="seminar5" title="seminar5" /></noscript>
                                       </a>
                                    </li>
                                    <li class="isotope-item">
                                       <a class="prettyphoto" href="/assets/images/seminar4-1024x576.jpg" data-rel="prettyPhoto[rel-94-1498965753]">
                                          <img width="320" height="170" alt="seminar4" title="seminar4" data-src="/assets/images/seminar4-1024x576.jpg" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                          <noscript><img class="" src="/assets/images/seminar4-320x170.jpg" width="320" height="170" alt="seminar4" title="seminar4" /></noscript>
                                       </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="vc_row wpb_row vc_inner vc_row-fluid gallerysection vc_custom_1584904179088 vc_row-o-content-middle vc_row-flex vc_row-no-padding">
               <div class="wpb_column vc_column_container vc_col-sm-1">
                  <div class="vc_column-inner">
                     <div class="wpb_wrapper"></div>
                  </div>
               </div>
               <div class="wpb_column vc_column_container vc_col-sm-10" style=" text-align:center; ">
                  <div class="vc_column-inner vc_custom_1574664515008">
                     <div class="wpb_wrapper">
                        <div class="wpb_gallery wpb_content_element vc_clearfix">
                           <div class="wpb_wrapper">
                              <div class="wpb_gallery_slides wpb_image_grid" data-interval="3">
                                 <ul class="wpb_image_grid_ul">
                                    <li class="isotope-item">
                                       <a class="prettyphoto" href="/assets/images/seminar3-1024x576.jpg" data-rel="prettyPhoto[rel-94-858793615]">
                                          <img width="290" height="170" alt="seminar3" title="seminar3" data-src="/assets/images/seminar3-1024x576.jpg" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                          <noscript><img class="" src="/assets/images/seminar3-290x170.jpg" width="290" height="170" alt="seminar3" title="seminar3" /></noscript>
                                       </a>
                                    </li>
                                    <li class="isotope-item">
                                       <a class="prettyphoto" href="/assets/images/seminar2-1024x576.jpg" data-rel="prettyPhoto[rel-94-858793615]">
                                          <img width="290" height="170" alt="seminar2" title="seminar2" data-src="/assets/images/seminar3-1024x576.jpg" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                          <noscript><img class="" src="/assets/images/seminar2-290x170.jpg" width="290" height="170" alt="seminar2" title="seminar2" /></noscript>
                                       </a>
                                    </li>
                                    <li class="isotope-item">
                                       <a class="prettyphoto" href="/assets/images/seminar1-1024x576.jpg" data-rel="prettyPhoto[rel-94-858793615]">
                                          <img width="290" height="170" alt="seminar1" title="seminar1" data-src="/assets/images/seminar3-1024x576.jpg" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                          <noscript><img class="" src="/assets/images/seminar1-290x170.jpg" width="290" height="170" alt="seminar1" title="seminar1" /></noscript>
                                       </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="wpb_column vc_column_container vc_col-sm-1">
                  <div class="vc_column-inner">
                     <div class="wpb_wrapper"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="wpb_column vc_column_container vc_col-sm-12" data-delay="0">
      <div class="vc_column-inner">
         <div class="wpb_wrapper">
            <div class="vc_empty_space" style="height: 140px"><span class="vc_empty_space_inner"></span></div>
         </div>
      </div>
   </div>
</div>