<div data-delay="0" class="py-md-5 vc_row wpb_row showsections">
   <div class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-md vc_hidden-sm vc_hidden-xs" data-delay="0">
      <div class="vc_column-inner">
         <div class="wpb_wrapper">
            <div id="1574664820352-805b2b1c-d67b" class="dt-sc-empty-space"></div>
            <div class='pb-md-5 dt-sc-title with-right-border-decor  without-bottom-space aligncenter class2' data-delay='0'>
               <h2>Conceptualizing Counselling Easy Way</h2>
               <p></p>
            </div>
            <div class="wpb_text_column wpb_content_element">
               <div class="wpb_wrapper class3">
                  <p>Our team have developed a set of workshops and seminars exclusively for students aspiring for a successful career in Medicine. These thoughtfully crafted sessions will cover a wide range of topics that will address concern , answer queries and clarify doubt of both students and parents.</p>
               </div>
            </div>

            <div class="grid py-md-5">
               <div class="item">
                  <a class="prettyphoto" href="/assets/images/seminars/seminar2-1024x576.jpg">
                     <img alt="seminar 9" title="seminar 9" src="/assets/images/seminars/seminar2-1024x576.jpg"  />
                  </a>
               </div>
               <div class="item">
                  <a class="prettyphoto" href="/assets/images/seminars/seminar8-1024x576.jpg" data-relative="prettyPhoto[rel-94-3784076194]">
                     <img  alt="seminar8" title="seminar8" src="/assets/images/seminars/seminar8-1024x576.jpg"  />
                  </a>
               </div>
               <div class="item">
                  <a class="prettyphoto" href="/assets/images/seminars/seminar7-1024x576.jpg" data-relative="prettyPhoto[rel-94-3784076194]">
                     <img  alt="seminar7" title="seminar7" src="/assets/images/seminars/seminar7-1024x576.jpg" />
                  </a>
               </div>
               <div class="item">
                  <a class="prettyphoto" href="/assets/images/seminars/seminar6-1024x576.jpg" data-relative="prettyPhoto[rel-94-1498965753]">
                     <img  alt="seminar6" title="seminar6" src="/assets/images/seminars/seminar6-1024x576.jpg"  />
                  </a>
               </div>
               <div class="item">
                  <a class="prettyphoto" href="/assets/images/seminars/seminar5-1024x576.jpg" data-relative="prettyPhoto[rel-94-1498965753]">
                     <img  alt="seminar5" title="seminar5" src="/assets/images/seminars/seminar5-1024x576.jpg"  />
                  </a>
               </div>
               <div class="item">
                  <a class="prettyphoto" href="/assets/images/seminars/seminar4-1024x576.jpg" data-relative="prettyPhoto[rel-94-1498965753]">
                     <img  alt="seminar4" title="seminar4" src="/assets/images/seminars/seminar4-1024x576.jpg"  />
                  </a>
               </div>
               <div class="item">
                  <a class="prettyphoto" href="/assets/images/seminars/seminar3-1024x576.jpg" data-relative="prettyPhoto[rel-94-858793615]">
                     <img  alt="seminar3" title="seminar3" src="/assets/images/seminars/seminar3-1024x576.jpg"  />
                  </a>
               </div>
               <div class="item">
                  <a class="prettyphoto" href="/assets/images/seminars/seminar2-1024x576.jpg" data-relative="prettyPhoto[rel-94-858793615]">
                     <img  alt="seminar2" title="seminar2" src="/assets/images/seminars/seminar2-1024x576.jpg"  />
                  </a>
               </div>
               <div class="item">
                  <a class="prettyphoto" href="/assets/images/seminars/seminar1-1024x576.jpg" data-relative="prettyPhoto[rel-94-858793615]">
                     <img  alt="seminar1" title="seminar1" src="/assets/images/seminars/seminar1-1024x576.jpg"  />
                  </a>
               </div>
            </div>

         </div>
      </div>
   </div>
</div>
