<div id="slider">
  <div id="dt-sc-rev-slider" class="dt-sc-main-slider">
    <p class="rs-p-wp-fix"></p>
    <rs-module-wrap id="rev_slider_2_1_wrapper" data-source="gallery" style="background:#1f1d24;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
      <rs-module id="rev_slider_2_1" style="display:none;" data-version="6.0.7">
        <rs-slides>
          
          <rs-slide class="slide-1" data-key="rs-11" data-title="NEET Guide" data-thumb="/assets/images/Homepage slider2.png" data-duration="8470" data-anim="ei:d;eo:d;s:1000;r:0;t:fadethroughdark;sl:d;" data-p1="01">
            <img src="/assets/images/Homepage slider2.png" title="slider-background_db913436e02525f0fc3e9818a403f72e" data-parallax="3" class="rev-slidebg" data-no-retina>            
          </rs-slide>

          <rs-slide class="slide-2" data-key="rs-12" data-title="Engineering Guide" data-thumb="/assets/images/Homepage-slider3.png" data-duration="8470" data-anim="ei:d;eo:d;s:1000;r:0;t:fadethroughdark;sl:d;" data-p1="02">
            <img src="/assets/images/Homepage-slider3.png" title="slider-background-2_49f3fe9dfd8fe6d85cabf96dd5be8b5c" width="1279" height="673" data-parallax="3" class="rev-slidebg" data-no-retina>
          </rs-slide>
        </rs-slides>

          <rs-slide class="slide-3" data-key="rs-13" data-title="Engineering Guide" data-thumb="/assets/images/Homepage-slider-1.png" data-duration="8470" data-anim="ei:d;eo:d;s:1000;r:0;t:fadethroughdark;sl:d;" data-p1="03">
            <img src="/assets/images/Homepage-slider-1.png" title="slider-background-2_49f3fe9dfd8fe6d85cabf96dd5be8b5c" width="1279" height="673" data-parallax="3" class="rev-slidebg" data-no-retina>
          </rs-slide>
        </rs-slides>

        <rs-progress class="rs-bottom" style="visibility: hidden !important;"></rs-progress>
      </rs-module>
    </rs-module-wrap>
  </div>
</div>

<style>
  rs-sbg {
    background-size: contain !important;
  }

  .slide-1 .dddwrapper, .slide-3 .dddwrapper {
      background-color: #deb71b !important;
    }


  .slide-2 .dddwrapper {
      background-color: #270a68 !important;
    }
</style>